<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About</h1>
  </div>
  
  <img src="img/about.png" alt="Laptop" width="473" height="316">
  <p style="font-weight: 600;font-size: large;">Edureka Learning Center: Mangalore</p>
